<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <h1>Dashboard</h1>
    <a href="/">
    <button type="button" class="btn btn-primary" name="button" id="go-back"> Logout </button>
    </a>
    <a href="/analytics">
    <button type="button" class="btn btn-primary" name="button" id="analytics"> Analytics </button>
    </a>
  </nav>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h1 id="headline">Welcome to the Admin Page</h1>
        <p> You can make inventory changes below, or scroll down to view the purchase history. Check out the analytics tab to see beautiful visualizations of company data. </p>
      </div>
    </div>
  </div>

  <div class ="container" id="admin-page">

    <div class = "row">
      <% tshirts.each do |tshirt| %>
      <div class="col-md-4">
        <div class="item-wrapper">
          <img width=120 height=120 src="<%= tshirt.img_url %>"/>
          <h3><%= tshirt.name%></h3>
          <h3>$<%= tshirt.price%></h3>

            <h4><strong><%= tshirt.quantity %></strong> in Stock. </h4>
            <form id="form_id" action="/admin" method="POST">
              <span>Update:</span>
              <input type="hidden" name="id" value="<%= tshirt.id %>"/>
              <input type="number" name="quantity" id="update-quantity" placeholder="0" min="0" />
              <input type="hidden" name="_method" value="PUT"/>
              <button name="submit" class="btn btn-primary btn-sm" id="update">Save</button>
            </form>


          <!-- <p><%= tshirt.quantity%> shirts left</p>
          <form id="form_id" action="/admin" method="POST">
            <input type="hidden" name="id" value="<%= tshirt.id %>"/>
            <input type="text" name="quantity" placeholder="Enter New Quantity"/>
            <input type="hidden" name="_method" value="PUT"/>
            <button name="submit" class="btn btn-primary">Update</button>
          </form> -->
        </div>
      </div>
      <% end %>
    </div>


    <div class="row bottom">
      <div class="col-lg-12">
        <div id="purchase-history">
          <h2>Purchase History</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Item Id</th>
                  <th>Quantity</th>
                  <th>Date / Time</th>
                </tr>
              </thead>
              <tbody>
                <% purchases.each do |purchase| %>
                <tr>
                  <th scope="row"><%= purchase.id %></th>
                  <td><%= purchase.name %></td>
                  <td><%= purchase.email %></td>
                  <td><%= purchase.tshirt_id %></td>
                  <td><%= purchase.quantity %></td>
                  <td><%= purchase.created_at %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
